@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  @apply bg-neutral-25 text-neutral-800 antialiased;
}

a {
  @apply text-brand-600 hocus:text-brand-700 underline-offset-4;
}
